@model PetHospital.Api.Models.Entities.MedicalHistory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedicalHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HistorialVacunas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HistorialVacunas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicamentosRecetados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicamentosRecetados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnostico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnostico)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdHistorial">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
